body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(24, 99, 153), rgb(21, 216, 203));
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 137, 25);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px black;
  width: 50%;
  align-items: center;
}

h1 {
  color:rgb(25, 160, 213);
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#todo {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  background: linear-gradient(to right, rgb(24, 99, 153), rgb(21, 216, 203));
  color: white;
  font-size: 20px ;
}

#todo::placeholder {
  color: white;
  opacity : 0.5
}

ul {
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
}

ul li:before {
  content: "✽";
  padding: 0.6rem;
  font-size: 1.3rem;
  color: aqua;
}

ul li:after {
  opacity: 0;
}

ul li:hover:after {
  content: " (terminé)";
  opacity: 0;
  font-size: 1.1rem;
  color: aqua;
  font-style: italic;
  animation: pseudoClassAnim 1s forwards;
}

li.check:before {
  content: "✔";
  padding: 10px 10px;
  font-size: 1.1rem;
  color: aqua;
}

li.check:hover:after {
  content: " (supprimer)";
  font-size: 1.1rem;
  color: aqua;
  opacity: 0;
}

@keyframes pseudoClassAnim {
  to {
    opacity: 1;
  }
}

