body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(24, 99, 153), rgb(21, 216, 203));
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 137, 25);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px black;
  width: 50%;
  align-items: center;
}

h1 {
  color:rgb(25, 160, 213);
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#todo {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  background: linear-gradient(to right, rgb(24, 99, 153), rgb(21, 216, 203));
  color: white;
  font-size: 20px ;
  margin-bottom: 20px;
}

#todo::placeholder {
  color: white;
  opacity : 0.5
}

span {
  display: flex;
  align-self: start;
}