@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	max-width: 1200px;
	margin: auto;
	padding: 16px;
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	padding: 8px;
	background-color: #7451eb;
	text-align: center;
	color: white;
}
header img {
	height: 60px;
	margin-left: 1rem;
}
header h1 {
	flex-grow: 1;
}

main {
	display: flex;
	flex-direction: row;
}

.filtres {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 0px 0px 4px gray;
	margin: 8px;
	padding: 8px;
	min-width: 300px;
	min-height: 400px;
	gap: 20px;
}

.filtres .filter-btn {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	margin: 8px;
	padding: 8px;
	border-radius: 10px;
}


.filtres h3 {
	text-align: center;
}
.filtres .maj {
	display: flex;
	justify-content: center;
}

.btn-maj {
	margin: 50px;
}

.filtres .range {
	display: flex;
	flex-direction: column;
}

.filtres button {
	background-color: #7451eb;
	color: aliceblue;
	padding: 5px;
	border-radius: 10px;
	width: 70%;
}

.form-opinion {
	border: 1px solid black;
	margin: 8px;
	padding: 8px;
	border-radius: 10px;
}

.form-opinion form{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

}

.form-opinion div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-opinion input {
	border-radius: 10px;
	padding: 5px;
}

.opinion-button {
	background-color: #7451eb;
	color: aliceblue;
	padding: 5px;
	border-radius: 10px;
	margin: auto;
}


.fiches .listArticles {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	flex: 1;
	margin: 8px;
}

.listPieces  {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.fiches article {
	border: 1px solid black;
	width: 270px;
	display: flex;
	flex-direction: column;
}

.fiches img {
	max-width: 200px;
}
.fiches p {
	margin-top: 4px;
	margin-bottom: 4px;
}

