* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}
body {
  text-align: center;
  margin: 0px;
  color: black;
  min-height: max-content;
}

/* h1 {
  margin-top: 70px;
} */


.mousemove {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.box {
  
  background-color: rgb(211, 208, 208);
  border-radius: 50px;
  border: 5px  black;
  margin: 50px 150px 50px 150px;
  transition: 0s ease;
  padding: 5px;
}

button {
  padding: 10px;
  margin: 10px;
  border-style:initial;
  border-radius: 100px;
}

p {
  visibility:hidden;
}

.goodResponse {
  visibility: visible;
  color: rgb(9, 141, 9);
}

.wrongResponse {
  visibility: visible;
  color: rgb(159, 7, 7);
}

.res1 {
  color: green;
}

.res2{
  color: rgb(204, 20, 20);
}

nav{
  position: fixed;
  top: -50px;
  width: 100%;
  background-color: coral;
  padding: 0;
  transition: 0.5s;
  z-index: 2;
}

ul{
  display: flex;
  justify-content: space-around;
  padding: 0;
}

form {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}