body {
  margin: 0;
  padding: 0;
  background-color: rgb(40, 49, 56);
  font-family: Arial, Helvetica, sans-serif;
  min-height:90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  color:aliceblue;
  font-size: 50px;
}

#Q {
  color: rgb(220, 152, 49);
}

#question {
  color: aliceblue;
  text-align: center;
}

#responses {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#responses button {
  margin: 5px;
  width: 45%;
  min-width: 220px;
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder ;
  font-size: larger;
}

#progression {
  color: rgb(220, 152, 49);
  font-size: larger;
}

#score {
  color: rgb(220, 152, 49);
  font-size: larger;
}