*{
  margin: 0;
  font-size: 1.1em;
}

body {
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  padding: 10px 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info-section, #input-section, #option-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
}

#info-section {
  background-color: rgb(169, 167, 167);
  border-radius: 10px;
  width: 50%;
}

#word, #score {
  font-weight: bold;
}

#input-section div {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}