*{
  margin: 0;
  font-size: 1.1em;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(176, 176, 176);
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  padding: 10px 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(247, 195, 107);
  border-radius: 20px;
  padding: 10px;
}

form input {
  margin: auto;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEA40A;
  padding: 20px 20px;
  width: 80%;
  gap: 20px;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 10px 25px gray;
}

#info-section, #input-section, #option-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
}

#info-section {
  border-radius: 10px;
  width: 50%;
  background-color: aliceblue;
}

#word, #score {
  font-weight: bold;
}

#input-section div {
  display: flex;
  gap: 10px;
}

#input-section input {
  border-radius: 10px;
}

h1 {
  text-align: center;
}