body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

canvas {
  border : 2px solid black;
  border-radius: 3000px;
  width: 80%;
  background-color: rgb(244, 138, 38);
}