body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div #count {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

